<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop">

	<select id="getShopList" parameterType="ShopDTO" resultType="ShopDTO">
		SELECT shopid shopId,
		       shopname shopName,
		       addr,
		       phone,
		       lat,
		       lon
		  FROM shop
		 WHERE shopId = #{shopId} 
	</select>
	
</mapper>